@layer reset, base, textarea;


@layer base {
	:root {
		--base-clr: oklch(from blue 50% 30% h);
		--base-clr-dark: oklch(from var(--base-clr) calc(l - 0.1) c h);
		color: oklch(from white calc(l - 0.05) c h);
	}

	body {
		background-color: var(--base-clr-dark);
	}

	h1 {
		margin: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		background-color: var(--base-clr);
		margin-inline: auto;
		max-width: 80ch;
		padding-inline: 2rem;
		padding-block: 2rem;
		gap: 1rem;
	}

	.canvas {
		border-radius: 1rem;
		overflow: hidden;
		overflow: clip;
		box-shadow: 0 0.5rem 1rem 0 oklch(from black l c h / 0.3);
		background-color: var(--base-clr-dark);
		min-height: 15rem;
		max-height: 20rem;
		text-align: center;
		align-content: center;
		font-size: 1.2rem;
	}

	.no-js-banner {
		background-color: oklch(from orange calc(l + 0.1) c h);
		font-size: 1.2rem;
		padding-inline: 1rem;
		padding-block: 1rem;
		border-radius: 100vw;
		text-align: center;
		font-weight: bold;
		color: var(--base-clr-dark);
	}
}

@layer textarea {
	.textarea {
		min-height: 15rem;
		background-color: var(--base-clr-dark);
		border-radius: 0.25rem;
		position: relative;
		overflow-y: auto;
		
		.textbox {
			padding-inline: 0.5rem;
			padding-block: 0.25rem;
			font-family: monospace;

			.line {
				white-space: pre;

				[data-type="tag"] {
					color: orange;
				}
		
				[data-type="string"] {
					color: lightgreen;
				}
			}
		}


		.cursor {
			position: absolute;
			border-left: 1px currentColor solid;
			height: 1rem;
			width: 0;
			pointer-events: none;
			animation-name: cursor-blink;
			animation-duration: 1.6s;
			animation-timing-function: steps(1);
			animation-iteration-count: infinite;
		}
	}

	@keyframes cursor-blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}

@layer reset {
	/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	html {
		font-family:
			system-ui,
			'Segoe UI',
			Roboto,
			Helvetica,
			Arial,
			sans-serif,
			'Apple Color Emoji',
			'Segoe UI Emoji';
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		tab-size: 4;
	}

	body {
		margin: 0;
	}

	b,
	strong {
		font-weight: bolder;
	}

	code,
	kbd,
	samp,
	pre {
		font-family:
			ui-monospace,
			SFMono-Regular,
			Consolas,
			'Liberation Mono',
			Menlo,
			monospace;
		font-size: 1em;
	}

	small {
		font-size: 80%;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	table {
		border-color: currentcolor;
	}

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
	}

	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		-webkit-appearance: button;
	}

	legend {
		padding: 0;
	}

	progress {
		vertical-align: baseline;
	}

	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}

	[type='search'] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
	}

	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
	}

	summary {
		display: list-item;
	}
	
}